{% extends 'base.html.twig' %}

{% block title %}Bonsoir et Bienvenue{% endblock %}

{% block body %}

<div class="BonsoirIlyApasGrandchose">
    <p>
        <a class="button" href="{{path('app_login')}}"> Se connecter </a>
    </p>
    <p><a class="button"> S'enregistrer</a></p>
</div>
{% endblock %}